.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.auth-container {
  text-align: center;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.auth-logo {
  width: 80px;
  height: 80px;
}

.auth-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.auth-sub-title {
  font-size: 14px;
  color: #888;
}

.auth-qrcode {
  margin: 20px 0;
}

.auth-tips {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;

  a {
    color: #ff5500;
  }
}

.auth-input {
  width: 100%;
  margin-bottom: 20px;
}

.auth-error {
  color: #ff5500;
  font-size: 12px;
  margin-bottom: 10px;
}

.auth-actions {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 10px;
  }
}

.auth-footer {
  color: #888;
  font-size: 12px;
  margin-top: 20px;
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.alert-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 80%;
}

.alert-content h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}

.alert-content p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.alert-content button {
  width: 100%;
}
