.sidebar {
  top: 0;
  width: var(--sidebar-width);
  height: var(--full-height);
  position: relative;
  background-color: #F5F5F5;
}

.sidebar-header {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: relative;
  margin: -50px auto 0;
  border: #c7c7c7 1px solid;

  svg {
    width: 100%;  // 使 SVG 图标的宽度与容器宽度一致
    height: 100%;  // 使 SVG 图标的高度与容器高度一致
  }
}

.sidebar-chat {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 24px auto 0;

  svg {
    width: 100%;  // 使 SVG 图标的宽度与容器宽度一致
    height: 100%;  // 使 SVG 图标的高度与容器高度一致
  }
}

.sidebar-role {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 15px auto 0;

  svg {
    width: 100%;  // 使 SVG 图标的宽度与容器宽度一致
    height: 100%;  // 使 SVG 图标的高度与容器高度一致
  }
}

.action-button {
  display: inline-flex;
  margin-top: 3px;
  margin-left: 5px;
}

.action-button svg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.action-button:hover svg {
  opacity: 1;
}
