.sidebar {
  height: var(--full-height);
  position: relative;
  background-color: #fff;
  flex: 1;
  z-index: 80;

  .sidebar-header,
  .sidebar-chat,
  .sidebar-role,
  .sidebar-mall,
  .sidebar-profile,
  .sidebar-public {
    position: relative;
    margin: 30px auto 0;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .sidebar-header {
    width: 60px;
    height: 40px;
    margin-top: 24px; // 覆盖默认的 margin-top
  }

  .sidebar-chat,
  .sidebar-role,
  .sidebar-mall,
  .sidebar-profile,
  .sidebar-public {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

  .sidebar-chat,
  .sidebar-role,
  .sidebar-footer {
    width: 30px;
    height: 30px;
  }

  .sidebar-mall,
  .sidebar-public {
    width: 35px;
    height: 35px;
  }

  .sidebar-profile {
    width: 40px;
    height: 40px;
  }

  .sidebar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 0.4rem;
    bottom: 1rem;
    left: 0.9rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      border-radius: 0.725rem;
      background-color: #cacaca;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  button {
    background-color: transparent;
  }

  svg {
    width: 35px;
    height: 35px;
    fill: rgb(151, 151, 151);
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  &:hover svg {
    fill: #ff5500;
  }
}
