.sidebar {
  top: 0;
  width: var(--sidebar-width);
  height: var(--full-height);
  position: relative;
  background-color: #fff;
}

.sidebar-header {
  width: 60px;
  height: 40px;
  position: relative;
  margin: -60px auto 0;

  svg{
    height: 100%;
    width: 100%;
  }
}

.sidebar-chat {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 30px auto 0;

  svg{
    height: 100%;
    width: 100%;
  }
}

.sidebar-role {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 30px auto 0;

  svg{
    height: 100%;
    width: 100%;
  }
}

.action-button {
  display: inline-flex;
  margin-top: 3px;
  margin-left: 5px;
}

.action-button svg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.action-button:hover svg {
  opacity: 1;
}