.sidebar {
  top: 0;
  width: var(--sidebar-width);
  height: var(--full-height);
  position: relative;
  background-color: #fff;
  flex: 1;
  z-index: 80;

  .sidebar-header,
  .sidebar-chat,
  .sidebar-role,
  .sidebar-mall {
    position: relative;
    margin: 30px auto 0;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .sidebar-header {
    width: 60px;
    height: 40px;
    margin-top: 20px; // 覆盖默认的 margin-top
  }

  .sidebar-chat,
  .sidebar-role,
  .sidebar-mall {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

  .sidebar-chat,
  .sidebar-role,
  .sidebar-footer {
    width: 30px;
    height: 30px;
  }

  .sidebar-mall {
    width: 35px;
    height: 35px;
  }

  .sidebar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 0.4rem;
    bottom: 1rem;
    left: 0.9rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      border-radius: 0.725rem;;
      background-color: #cacaca;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.action-button {
  display: inline-flex;
  margin-top: 3px;
  margin-left: 5px;

  svg {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover svg {
    opacity: 1;
  }
}
