.dialog-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 4px 15px 4px;
  p {
    margin: 0;
  }
  background-color: #ffffff;
}

.dialog-search-box {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  input {
    height: 100%;
    width: 24rem;
    border: none;
    background-color: #fffefe;
    border: 1px solid #eaeaea;
    outline: none;
    font-size: 12px;
    text-align: left;
    margin-right: 0.4rem;
}
}

.dialog-search-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  padding: 0;
  background-color: #2fad55;
  cursor: pointer;

  svg {
    fill: #fff;
    width: 75%;
    height: 75%;
  }
}