.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-left: 1px;
  cursor: pointer;
  p{
    margin: 0;
  }
}

.chat-item-delete{
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: scale(1.2);
  }
}

.selected{
  background-color: rgb(240,240,240);
}

.left{
  margin-right: 14px;
  img{
    width: 105%;
    height: 105%;
  }
}

.right{
  flex: 1;
  overflow: hidden;
  font-weight: bold;
}

.line1{
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 14px;
  color: #202020;
}


.time{
  font-size: 10px;
  color: #c0c0c0;
}

.line2{
  padding-top: 6px;
  font-size: 11px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width: 100%;
  text-align: left;
}