.chat-input-action-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-input-action {
  display: flex;
  border-radius: 20px;
  font-size: 13px;
  background-color: var(--white);
  color: var(--black);
  border: var(--border-in-light);
  padding: 6px 8px;
  animation: slide-in ease 0.3s;
  box-shadow: var(--card-shadow);
  transition: all ease 0.3s;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: var(--icon-width);
  position: relative;
  
  &:hover {
    width: var(--icon-width);
    background-color: #dedede;
    cursor: pointer;
  }

  .icon,
  .text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateY(-5px);
  }

  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 1%;
    transform: translateX(-50%) translateY(-10px);
    background-color: var(--tooltip-bg, #333);
    color: var(--tooltip-text, #fff);
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 10;
  }

  .select-container {
    display: flex;
    align-items: center;
  }
}
